<ul class="users">
  <% friends.each do |friend| %>
    <li>
      <div class="user-info">
        <%= image_tag friend.photo, class: "avatar" %>
        <h3><%= "#{friend[:firstName]} #{friend[:lastName]}" %></h3>
      </div>
      <div class="user-controls">
        <%= link_to "delete",
                    unfriend_path(friend.id),
                    class: "btn btn-danger",
                    method: :post,
                    data: { confirm: "Are you sure?" } %>
      </div>
    </li>
  <% end %>
</ul>
<%= link_to "delete all", unfriend_all_path, class: "btn btn-danger",
            method: :post if friends.count > 0 %>
