<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <%= debug(@user) %>
    <%= debug(client.user("self")) %>
    <%     @f_requests = client.user_requests
    %>
    <%= debug(@f_requests) %>
  </aside>
</div>
